*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html,body{
    width: 100%;
    height: 100%;
    background: #5ecefe;
}
main{
    width: 100%;
    height: 100%;
}
#screen{
    width: 20%;
    height: 60%;
    background: #fff;
    position: absolute;
    justify-self: center;
    margin-top: 10%;
    border:4px solid #111;
    border-radius: 10px;
}
#stories{
    width: 100%;
    height: 28%;
    background: #f1f1f1;
    border-bottom:1px solid #444;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#stories > * {
    flex-shrink: 0;
}
#stories::-webkit-scrollbar {
    display: none;
}
.story{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 50%;
    border: 3px solid red;
}
.story:hover{
    cursor: pointer;
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    padding: 3px;
}
#viewstory{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
    transition: all ease 0.9s;
}