*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html, body{
    width: 100%;
    height: 100%;
    anchor-name: --some-anchor;
    color: white;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar{
    background: #101010;
    width: 60%;
    height: 14%;
    background: #111;
    display: flex;
    border-radius: 20px;
    box-shadow: inset 0 0 12px #fff;
}
.box{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.box:hover{
    cursor: pointer;
    anchor-name: --some-anchor;
}
.anchor{
    background: #B7A3E3;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    position: absolute;
    transition: all 0.3s linear;
    pointer-events: none;
    mix-blend-mode: difference;
    position-anchor: --some-anchor;
}
body:has(.box:hover) .anchor{
    border-radius: 20px;
}