*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html,body{
    width: 100%;
    height: 100%;
    background: #000;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#section{
    width: 50%;
    height: 35%;
    background: #fff;
    border-radius: 25px;
}
p{
    margin-top: 8%;
    text-align: center;
    font-size: larger;
}
#outter{
    width: 80%;
    height: 8%;
    border-radius: 50px;
    margin: 4%;
    justify-self: center;
    background: #bebebe;
}
#inner{
    width: 0%;
    height: 100%;
    border-radius: 50px;;
    background: green;
}
#info{
    display: flex;
    justify-content: space-between;
}
h3{
    margin-bottom: 6%;
    margin-left: 16%;
    font-size: 30px;
}
button{
    margin-right: 80px;
    width: 15%;
    height: 20%;
    padding: 15px 10px;
    background: crimson;
    border: none;
    border-radius: 12px;
}
button:hover{
    cursor: pointer;
    scale: 1.05;
}