*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html,body{
    width: 100%;
    height: 100%;
    background: #000;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screen{
    width: 80%;
    height: 80%;
    background: #111;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#left{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#right{
    width: 45%;
    height: 100%;
}
#pht{
    width: 80%;
    height: 60%;
    border-radius: 20px;
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.IoTkekBD9zNNfftmCtzEswHaHa?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
    background-position: center;

}
#player{
    width: 70%;
    height: 10%;
    background: #222;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#player h3{
    background: #333;
    padding: 3%;
    border-radius: 50%;
}
#player h3:hover{
    cursor: pointer;
}
#allsongs{
    width: 80%;
    height: 70%;
    background: #222;
    border-radius: 4px;
}
#right h2{
    width: 80%;
    margin-top: 10%;
}
.song{
    width: 100%;
    height: 22%;
    border-top: gray 2px solid;
    background: #393939;
    display: flex;
    align-items: center;
}
.song:hover{
    cursor: pointer;
    background: #4d4d4d;
}
.song img{
    width: 75%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 4%;
}
.songimg{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}