*{
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
:root{
    --x: 50%;
    --y: 50%;
}
html, body{
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#spotlight{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background-image: radial-gradient(
        180px at var(--x) var(--y),
        rgba(255,255,255,0.15),
        rgba(0,0,0,0.95)
    );
}
#screen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.card{
    width: 28%;
    height: 30%;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}
.card:hover{
    box-shadow: 0 0 20px 5px rgba(255,255,255,0.1);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
h3,p{
    color: #aaa;
    text-align: center;
}

#textarea{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size:2rem;
    color: green;
    font-family: monospace;
}