*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html,body{
    width: 100%;
    height: 100%;
    background: #000;
}
main{
    width: 100%;
    height: 100%;
}
#container{
    width: 100%;
    height: 100%;
}
.ele{
    width: 100%;
    height: 16%;
    background: #111;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;
    border-bottom:1px solid #fff;
}
.ele img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 20px;
    display: none;
    position:absolute;
    transition: all 0.1s linear;
    mix-blend-mode: difference;
    z-index: 10;
}